body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
}


.wrapper {
    text-align: center;
}

header {
    background: grey;
    width: 500px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 10px;
}

nav {
    background: grey;
    width: 500px;
    text-align: center;
    padding: 20px 20px;
    margin-bottom: 10px;
}

section {
    background: grey;
    width: 500px;
    text-align: center;
    padding: 20px;
    height: 200px;
    margin-bottom: 10px;
    width: 30%;
    float: left;
}

article {
    background: cadetblue;
    color: red;
    width: 500px;
    width: 18%;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    position: absolute;
    left: 20px;
    height: 150px;
    float: left;
    z-index: 100;
}

.h1 {
    background: chartreuse;
    width: 500px;
    width: 100%;
    float: left;
    padding: 10px;
    right: 10px;
    position: relative;
}

p {
    background: pink;
    width: 500px;
    width: 100%;
    float: left;
    padding: 10px;
    right: 10px;
    position: relative;
}

aside {
    background: saddlebrown;
    text-align: center;
    color: red;
    width: 328px;
    width: 20%;
    height: 240px;
    position: relative;
    right: -20px;
    float: left;
}

footer {
    background:tomato;
    color: indigo;
    width: 100%;
    text-align: center;
    padding: 20 20px;
    height: 50px;
    margin-top: 10px;
    width: 540px;
    bottom: 350px;
    position: absolute;
}